body {
    background-color: #333 ;
    font-family: 'Roboto';
    margin-left: 10 px;
    color: #ffffff;
}

p {
    margin-left: 10px;
    font-family: 'Roboto';
}

h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-family: georgia, serif;
    font-size: 4rem;
    color: whitesmoke;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3);
}


h3 {
    font-size: 24px;
    font-family: georgia, serif;
    color: #333;
}

form {
    margin-top: 20px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #2269c6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #003386;
}

/*
#preview img, #result img {
    margin-top: 15px;
    max-width: 400px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

/* Styling preview and result sections 
#preview, #result {
    margin-top: 20px;

}

/*
#preview {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

#result {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}
